body {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: PapayaWhip;
  border: 0px solid black;
}

#canvas {
  border: 5px solid grey;
  background-color: LightGray;
  display: inline-block;
  width: 600px;
  height: 400px;
}

#color-palette {
  border: 5px solid #424141;
  display: inline-block;
  width: 600px;
  background-color: snow;
}

#additional-info{
  border: ;
  height: 80px;
  width: 600px;
}

.canvas-cell {
  background-color: white;
  border: 0.05px solid Gainsboro;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.empty-cell {
  background-color: white;
  border: 0.05px solid grey;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.indicator-text {
  display: inline-block;
  float: left;
  font-size: 140%;
  vertical-align: middle;
}

.palette-cell {
  background-color: white;
  border: 0.05px solid grey;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.indicator-cell {
  background-color: white;
  border: 0.05px solid grey;
  display: inline-block;
  float: left;
  width: 30px;
  height: 20px;
  border-radius: ;
}

.clear-btn {
  display: inline-block;
  font-size: 100%;
  width: 100px;
  float: right;
}
